@charset "utf-8";

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* BASIC CONSCIOUS RESETs +++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* make HTML5 elements block-level for consistent styling */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1 }

/* Basic Form styling */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }

/* Basic List styling */
ul, ol { margin: 0 0 1.5385em 0; padding: 0 0 0 0; /* 1em; /* 1.25em; */ }
dd { margin: 0 0 0 3em; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0 }
li { line-height: 1.5385em; } /* 20 */

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; font-size: 0.8462em; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em }

* {
  hyphens: auto;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0.35em;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
  border: none;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}


/* ******************************************************************************* */

html {
  min-height: 100vh;
}
body {
  background-color: pink;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0px;
}


/* ******************************************************************************* */
/* typography */

/* logo */
#logo {
  position: relative;
  z-index: 1000;
}

#logo a.round {
  position: fixed;
  top: -3px;
  left: -3px;
  width: 120px;
  height: 120px; /* auto; */
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  background: url(../images/pcdLogo3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#logo a.round img {
  max-width: 100%;
  height: auto;
}

/* text logo when shown */
/*
#logo a.text {
  position: absolute;
  top: 19px;
  left: 18px;
  display: block;
  width: auto;
  float: left;
  font-size: 32px;
  font-weight: 700;
  color: rgba(32,16,48,0.82);
  z-index: 1000;
}
*/


/* ******************************************************************************* */
/* animated backdrop */

#backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: transparent; /*  tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2; /* must have this before I can see progress bar at z-index -1 */
}

#backdrop #backdropCanvas {
  /* border: 1px solid purple; */
}